<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:for each="{employees}" as="employee" key="array_index">
    <div id="member{array_index}" class="d-flex flex-column align-items-center member member-team-{array_index} col-sm-12 col-md-5"
    style="max-width: 100%;overflow: hidden;">
        <f:render partial="Employee/ListItemMain" arguments="{employee:employee}"/>
    </div>

    <div class="member-popup" id="popup-member{array_index}-mobile">
        <f:render partial="Employee/Popup" arguments="{employee:employee}"/>
    </div>
</f:for>


